.rangeslider {
    margin: 20px 0;
    position: relative;
    background: #e6e6e6;
    .rangeslider__fill, .rangeslider__handle {
        position: absolute;
    }
    &, .rangeslider__fill {
        display: block;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
    .rangeslider__handle {
        background: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        &:active {
            background: #999;
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px;
        color: #ede5d4;
    }
}


.rangeslider-vertical {
    margin: 20px auto;
    height: 150px;
    max-width: 5px;
    background: black;
    .rangeslider__fill {
        width: 100%;
        background: #27ae60;
        box-shadow: none;
        bottom: 0;
    }
    .rangeslider__handle {
        width: 20px;
        height: 10px;
        left: -8px;

        &:active {
            box-shadow: none;
        }
    }
}
