.synth {
    width: 100%;
    display: flex;
    align-content: space-around;
    align-content: center;

    &__keyboard {

        height: 300px;
        background-color: red;
        display: flex;
    }

    &__key {

        border: 1px solid black;
        width: 50px;

        &--major {
            background-color: white;

            &:active {
                box-shadow: inset 1px 14px 34px -9px rgba(0,0,0,1);
            }
        }

        &--minor {
            background-color: black;
            width: 30px;
            height: 150px;
            position: relative;
            display: block;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__selector {
        li {
            list-style: none;
        }
    }
}
