.synth {
    width: 600px;
    background-color: #4A646C;
    display: flex;
    flex-direction: column;

    &__keyboard {

        height: 300px;
        margin: 0 auto;
        //background-color: red;
        display: flex;
    }

    &__controls {
        display: flex;
    }

    &__oscillator {
        display: none;
    }

    &__key {

        border: 1px solid black;
        width: 50px;

        &--major {
            background-color: white;

            &:active {
                box-shadow: inset 1px 14px 34px -9px rgba(0,0,0,1);
            }
        }

        &--minor {
            background-color: black;
            width: 30px;
            height: 150px;
            position: relative;
            display: block;
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__selector {
        li {
            list-style: none;
        }
    }

    &__radio {
        display: none;
    }

    &__radiolabel {
        margin: 5px;
        display: flex;
        font-size: 12px;
        background-color: #FAEBD7;
        width: 50px;
        height: 50px;
        border: 1px solid black;

        .synth__radio:checked ~ & {
            background-color: #f9fc33;
        }
    }

    &__labeltext {
        margin: auto;
    }
}
