.synth {
    width: 800px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/brushedsteel.jpg');
    background-position: center center;
    background-size: cover;

    &__controls {
        display: flex;
        margin: 0 auto;
    }

    &__mastercontrols {
        display: flex;
        margin: 20px 10px;
        border-radius: 5px;
        border: 1px solid #ede5d4;
        padding: 10px;
    }

    &__oscillator {
        display: none;
    }

    &__oscillatorgroup {
        margin: 20px 10px;
        border-radius: 5px;
        border: 1px solid #ede5d4;
        padding: 10px;
    }

    &__envelopes {
        display: flex;
        margin: 20px 10px;
        border-radius: 5px;
        //margin-left: 40px;
        border: 1px solid #ede5d4;
        padding: 10px;
    }
}
